.attencont{
    display: flex;
    font-family: "Poppins", sans-serif;
    justify-content: space-between;
  /* font-style: italic; */
    width:83%;
    height: 100%;
    color: #333;
}
.left{
  font-family: "poppins";
  display: flex;
  flex-direction: column;
    width: 50%;
    padding: 20px;
    height: 50%;
    background-color: white;
    margin-left: 20px;
    border-radius: 20px;
    min-height: 90vh;
    height: 100%;
}
.right
{
  font-family: "poppins";
  display: flex;
  flex-direction: column;
    width: 50%;
    justify-content: space-between;
    /* padding: 20px; */
    height: 50%;
    margin-left: 20px;
    border-radius: 20px;
    min-height: 90vh;
    height: 100%;
}
.policy{
  height: fit-content;
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  
}
.leaveform{
  margin-top: 15px;
  height: fit-content;
  background-color: white;
  padding: 15px;
  border-radius: 20px;
}
.heading
{
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold
  ;
}
.attencont td, .attencont th {
  font-weight: 300;
  font-size: 14px;
  /* border: 1px solid #ddd; */
  padding: 4px;
}

.attencont tr:nth-child(even){background-color: #f2f2f2;}

.attencont tr:hover {background-color: #ddd;}

.attencont th {
  /* padding-top: 12px; */
  /* padding-bottom: 12px; */
  text-align: left;
  background-color: #22284a;
  color: white;
}
.attencont td{
  font-size: 12px;
}
.attencont table{
  height: 50%;
}
.attencont .right h1{
  font-size: 18px;
  font-weight: bold;
  /* color: red; */
  text-align: center;
}
 .attencont .right h2{
  font-size: 13px;
  font-weight: bold;
}
.attencont .right .leaveform span{
  font-size: 9px;
  /* font-weight: bold; */
  text-align: center;
  font-weight: 500;
}
 .attencont .right p{
  font-size: 12px;
}
.attencont .right li{
  font-size: 12px;
  list-style: none;
}
.form-group{
  display: flex;
  flex-direction: column;
  width: 48%;
  /* padding: 2px; */
  margin-top: 2px;
  margin-bottom: 2px;
}
.attencont form {
  justify-content: space-between;
display: flex;
flex-wrap: wrap;

}
.attencont label{
  font-size: 12px;
}
.attencont input,select{
  border: none;
  background-color: #f7f7f7;
  padding: 4px;
}
.attencont button{
  /* margin-top: auto auto; */
  width:40%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 5px;
transition: .2s;
  font-weight:bold;
  background-color: rgb(46, 150, 255);
  outline: none;
  border: none;
  color: white;
border: 2px solid white;
border-radius: 10px;
}

.attencont button:hover{
  background-color: white;
color: rgb(46, 150, 255);
cursor: pointer;
border: 2px solid rgb(46, 150, 255);
}
textarea{
  background-color: #f2f2f2;
  border: none;

}